.input-bulk-crud-update {
  width: min-content !important;
  max-width: 100px;
}

.photo-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.photo-icon {
  height: 80%;
  padding: 5px 7px;
  border-radius: 10px;
}
.photo-icon:hover {
  background-color: black;
  color: white;
  cursor: pointer;
  transition: 125ms;
}
