.supplier-purchase-item-row > td > input {
  width: 95%;
}

.supplier-purchase-item-row > td:nth-child(2) > form,
.supplier-purchase-item-row > td:nth-child(3),
.supplier-purchase-item-row > td:nth-child(8)
{
  display: flex;
  justify-content: center;
}

.supplier-purchase-item-row > td > i {
  cursor: pointer;
}

.row-delete-disable {
  cursor: default !important;
}

.supplier-purchase-item-status[value='pending'] {
  accent-color: grey;
}
.supplier-purchase-item-status[value='delivered'] {
  accent-color: green;
}
.supplier-purchase-item-status[value='failed'] {
  accent-color: red;
}
.supplier-purchase-item-status[value='cancelled'] {
  accent-color: black;
}
