#blacklist-client-container {
  width: 100vw;
  height: 100vh;
  position: relative;
}

#content {
  width: 100%;
  height: calc(100% - 60px);
  display: grid;
  place-items: center;
  background-color: #f2f4f5;
}

#table-container {
  width: 80%;
  height: 90%;
  background-color: white;
  border: 1px solid black;
  border-radius: 4px;
  display: grid;
  place-items: center;
  grid-template-rows: 80px calc(100% - 80px);
  overflow-y: hidden;
}

#container-head, #container-body {
  width: 90%;
}
#container-head {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#container-head > div > input, #container-head > div > input + button {
  padding: 2px 4px;
}
#container-head > div > input {
  border-radius: 4px 0 0 4px;
}
#container-head > div > input + button {
  border: 1px solid black;
  border-radius: 0 4px 4px 0;
  border-left: none;
}

#add-item-button {
  padding: 2px 6px;
  border: 1px solid black;
  border-radius: 4px;
  font-size: large;
  cursor: pointer;
}

#container-body {
  height: 100%;
  overflow-y: auto;
}

#blacklist-table {
  width: 100%;
  border: 1px solid black;
  border-radius: 4px;
}

#blacklist-table > tbody > tr {
  width: 100%;
  text-align: center;
}

#table-placeholder {
  width: 100%;
  text-align: center;
}

#modal-container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  background-color: #00000099;
  place-items: center;
}
.visible {
  display: grid;
}
.hidden {
  display: none;
}

#modal-content {
  width: 50%;
  height: 40%;
  background-color: white;
  border-radius: 4px;
  display: grid;
  place-items: center;
  position: relative;
}

#modal-content > form {
  width: 50%;
  height: 70%;
  display: grid;
  place-items: center;
}
#modal-content > form > div {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#modal-content > span {
  position: absolute;
  top: 10px;
  right: 20px;
  padding: 2px 8px;
  border-radius: 50%;
  cursor: pointer;
}

#modal-submit {
  padding: 4px 8px;
  border: none;
  background-color: rgb(23, 103, 23);
  color: white;
  cursor: pointer;
}
