.page-container {
  width: 100vw;
  height: 100vh;
  background-color: #f2f4f5;
}

.content {
  width: 100%;
  height: calc(100% - 60px);
  display: grid;
  place-items: center;
}

.match-page-container {
  width: 90%;
  height: 90%;
  background-color: white;
  border-radius: 4px;
  border: 1px solid black;
  display: grid;
  grid-template-rows: 10% 90%;
  place-items: center;
  overflow-y: hidden;
}
.match-page-container > div {
  width: 100%;
  height: 100%;
}

.filter-container {
  display: flex;
}
.filter-container > div {
  margin-top: 10px;
  margin-left: 30px;
}

.table-container {
  overflow-y: auto;
}
.table-container > table {
  width: 100%;
  margin-top: 20px;
}

.match-page-table-row {
  cursor: pointer;
  transition: 125ms;
}
.match-page-table-row:hover {
  background-color: rgb(192, 192, 192);
}

.match-page-modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #0000005e;
  display: grid;
  place-items: center;
}
.match-page-modal:hover {
  cursor: default;
}

.match-page-modal-closed {
  display: none;
}

.match-page-modal-container {
  position: relative;
  width: 60%;
  height: 70%;
  background-color: white;
  border-radius: 4px;
  border: 1px solid black;
  display: grid;
  grid-template-rows: 15% 37% 48%;
  overflow-y: hidden;
}
.match-page-modal-container > div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
}

.match-page-modal-remove-button {
  border: none;
  padding: 4px 6px;
  color: white;
  background-color: rgb(112, 1, 1);
  border-radius: 4px;
  cursor: pointer;
}

.match-page-modal-save-button {
  position: absolute;
  top: 15px;
  left: 20px;
  border: none;
  padding: 4px 6px;
  color: white;
  background-color: rgb(1, 112, 36);
  border-radius: 4px;
  cursor: pointer;
}

.match-page-modal-close-button {
  position: absolute;
  top: 15px;
  right: 20px;
  border: none;
  padding: 4px 6px;
  color: white;
  background-color: rgb(94, 94, 94);
  border-radius: 4px;
  cursor: pointer;
}

.match-page-modal-not-linked-table-row:hover {
  background-color: rgba(0, 0, 0, 0.13);
  cursor: pointer;
}

.match-page-modal-header, .match-page-modal-header > div {
  width: 100%;
  display: flex;
  justify-content: center;
}

.match-page-modal-not-linked-filter {
  width: 100%;
  display: flex;
  justify-content: center;
}
.match-page-modal-not-linked-filter > div {
  margin: 0 10px;
}

.match-page-files-buttons {
  display: flex;
}
.match-page-files-buttons > div {
  padding: 2px 4px;
  background-color: grey;
  color: white;
  margin: 1px 1px 0 0;
  cursor: pointer;
  border-radius: 4px;
}
