.address-modal-btn {
  color: black;
  font-size: larger;
}

.open-address-modal {
  border: none;
  background-color: inherit;
}

.close-address-modal {
  padding: 5px 12px;
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: large;
  background-color: inherit;
  color: black;
  border-radius: 100%;
  z-index: 100;
}
.close-address-modal:hover {
  cursor: pointer;
  filter: invert(1);
  transition: 125ms;
}

.address-modal {
  display: grid;
  place-items: center;
  font-size: medium;
}

.address-modal-container {
  width: 95vw;
  height: 95vh;
  position: relative;
  background-color: #f2f4f5;
  border-radius: 3px;
}
