#accept-fnac-container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 60px calc(100vh - 60px);
}

#accept-fnac-page {
	margin: 0 auto;
	width: 100vw;
	height: 100%;
	display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
	background-color: #f2f4f5;
}

#accept-fnac-page > div {
  display: flex;
}

#accept-fnac-page > div > button {
  background-color: rgb(34, 142, 34);
  color: white;
  border: none;
  border-radius: 0 4px 4px 0;
}

#accept-fnac-page > div > button:hover {
  background-color: rgb(16, 109, 16);
  cursor: pointer;
  transition: 125ms;
}
