.nav-bar {
	height: 60px;
	padding: 0;
	margin: 0;
	display: grid;
	grid-template-columns: 70px auto 10%;
	background-color: black;
}

.nav-bar-img {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.nav-bar-img-clickable:hover {
	cursor: pointer;
	background-color: white;
}
.nav-bar-img > img {
	height: 55px;
}

.nav-bar-img-right {
	position: relative;
}

.logout-btn {
	position: absolute;
	background-color: white;
	width: 100%;
	height: 100%;
	display: grid;
	place-items: center;
	opacity: 0;
	user-select: none;
}

.logout-btn:hover {
	opacity: 1;
	transition: 125ms;
	cursor: pointer;
}

@media only screen and (max-width: 1080px) {
	.nav-bar-img-right > img {
		display: none;
	}
}
